/* * {
    border: 1px red solid;
    font-family: 'Source Sans 3', sans-serif;
} */

.img_container {
    grid-area: 1/1;
    width: 100%;
    height: 100%;
    position: relative;
}

.banner_img {
    display: block;
    object-fit: cover;
    border-radius: 0px;
    width: 100%;
    height: 40vh;
    opacity: 1;
    object-position: center 65%;
}

.cvrbtn {
    position: absolute;
    bottom: 3rem;
    left: 2rem;
}

.img_result {
    justify-self: center;
}
